.App {
  text-align: center;
  background-color: black;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .h1 {
  background-color: r
} */

#headerofunorderedlist {
  /* background-color: #36C2BD; */
  margin: 10px;
}


.navLink {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#createmarker {
  background-color: #3e6ac2;
  font-weight: bold;
  font-size: large;
  border-radius: 20em;
  border: 5px;
  border-width: 10px;
}

#MarkerForm {
  font-weight: bold;
  color: #2d5199;
  margin: 10px;
  display: flex;
  justify-content: center;

}

#savebutton {
  font-weight: bold;
  color: #1B315C;
  background-color: #3ddbd6;
  border-radius: 20em;
  border: none;
  outline: none;
}

#deletebutton {
  font-weight: bold;
  color: #1B315C;
  background-color: #3ddbd6;
  border-radius: 20em;
  border: none;
  outline: none;
}

#editbutton {
  font-weight: bold;
  color: #1B315C;
  background-color: #3ddbd6;
  border-radius: 20em;
  border: none;
  outline: none;
}

div.image {
  content:url("https://www.rabbies.com/application/themes/rabbies/img/rabbieslogo.png");
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
